label, select, input{
  width: 150px;
  display: inline-block;
  margin: 5px 0;
}

body{
  background: #FFBB3F;
  font-family: Calibri, sans-serif;
  color: #341401;
}

th {
  text-align: left;
  padding: 10px;
  font-size: 20px;
}

td {
  padding: 10px;
}

